<div class="col-lg-6 mx-auto">
    <div class="card">
    <div class="card-header bg-primary text-white">
        Confirmation Pending
    </div>
    <div class="card-body">
        <h5 class="card-title">Hey! You are just one step away!</h5>
        <p class="card-text"> we send you a confirmation email. Please check your inbox and open the email and click on <strong>Confirm My Account</strong></p>
    </div>
    </div>
</div>