<div class= "container">
    <h1>User Images</h1>
            <div class= "row">
                <% @images.each do |image| %>
                    <% if image.present? && image.file.attached? %>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                            <div class="card">
                                <%= link_to image_tag(image.file.variant(resize: "300x300"), class: "card-img-top"), image_path(image)%>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div >
            <div class=" pagination pagination-lg">
                <%= will_paginate @images, :container => false %>
            </div>
    <div>
        <%= link_to 'Add More Images', new_image_path, class: "btn btn-primary mt-3" %>
    </div >
    
</div>